body {
    background-color: hsla(34, 100%, 75%, 0.70) !important;
}
.main{
    text-align: center;
    margin: auto;
}
.main--header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.main--form {
    width: 50%;
    margin: auto;
    background-color: rgb(255, 255, 240) ;
}

.todo--item{
    color: black;
    margin: auto;
     min-width: 50%;
     max-width: fit-content;
     background-color:rgb(255, 255, 240);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todo--item > h3 {
    font-style: italic;
    border-bottom: .5px solid black;
    
}
.todo--item > p {
    border-bottom: 1px solid black;
}
 .red{
    color:red;
    font-weight: bold;
 }

label {
    margin-right: 10px;
}
 
