body {
    background-color: hsla(34, 100%, 75%, 0.70) !important;
}
.main{
    text-align: center;
    margin: auto;
}
.main--form {
    width: 50%;
    margin: auto;
}

.todo--item{
    margin: auto;
   border: 1px solid black;
    color:black;
     min-width: 50%;
     max-width: fit-content;
    margin-bottom: 1em;
}

 label {
    margin-right: 10px;
}
 .todo--item > .btn {
    margin-right: 1em !important
}